* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.menu-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34%;
}

.navbar {
  background-color: #4cb1ca;
}

.menu-lists {
  color: #fff;
}

.select-language {
  width: 70px;
  background-color: #4cb1ca;
  border: none;
  outline: none;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/arrow.png") no-repeat 100% 50% #4cb1ca;
}

.select-currency {
  width: 70px;
  background-color: #4cb1ca;
  border: none;
  outline: none;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/arrow.png") no-repeat 52% 50% #4cb1ca;
}

.line {
  border: none;
  border-right: 1px solid #fff;
  height: 12px;
}

.menu-lists label {
  margin-right: 4px;
  opacity: 0.8;
}

.search-field form {
  position: relative;
  width: 180px;
  margin: 0 auto;
}

.search-field input {
  width: 175px;
  height: 26px;
  padding-left: 6px;
  border: 1px solid #7BA7AB;
  outline: none;
  color: #c6c6c6;
}

.search-field form button {
  position: absolute;
  top: 6px;
  left: 155px;
  width: 15px;
  height: 15px;
  border: none;
  background: url("../img/search-icon.png") no-repeat center center;
  cursor: pointer;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.buttons button {
  border: none;
  background-color: #7db122;
  outline: none;
  width: 38px;
  height: 38px;
  border-radius: 30px;
}

.buy {
  background: url("../img/buy-icon.png") no-repeat center center;
}

.ticket {
  background: url("../img/ticket-icon.png") no-repeat center center;
}

.buy:hover {
  cursor: pointer;
  background-color: #4f7906;
}

.ticket:hover {
  cursor: pointer;
  background-color: #4f7906;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("cOpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

.menu-navbar a {
  color: #ffffff;
}

.menu-navbar a, .menu-lists {
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 14px;
}

.logo h1 {
  font-family: 'Open Sans Bold', sans-serif;
  color: #656565;
  font-size: 24px;
  text-transform: uppercase;
}

.sub-menu a, .counter p, span {
  font-family: 'Open Sans Bold', sans-serif;
  color: #656565;
  font-size: 14px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */