* 
    box-sizing: border-box
    
.container
    max-width: 1024px
    margin: auto 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 18px 0
.menu-navbar 
    display: flex
    justify-content: space-between
    width: 360px
    align-items: center

.menu-lists 
    display: flex