.navbar {
  background-color: #4cb1ca;
}

.menu-lists {
  color: #fff;
}

.select-language {
  width: 70px;
  color: #fff;
  border: none;
  outline: none;
  background: url('/assets/img/icons/arrow.png') no-repeat 100% 50% #4cb1ca;
  background-color: #4cb1ca;
  appearance: none;
}

.select-currency {
  width: 70px;
  color: #fff;
  border: none;
  outline: none;
  background: url('/assets/img/icons/arrow.png') no-repeat 52% 50% #4cb1ca;
  background-color: #4cb1ca;
  appearance: none;
}

.line {
  height: 12px;
  border: none;
  border-right: 1px solid #fff;
}

.menu-lists label {
  margin-right: 4px;
  opacity: .8;
}

.search-field form {
  position: relative;
  width: 180px;
  margin: 0 auto;
}

.search-field input {
  width: 175px;
  height: 26px;
  padding-left: 6px;
  color: #c6c6c6;
  border: 1px solid #7ba7ab;
  outline: none;
}

.search-field  form  button {
  position: absolute;
  top: 6px;
  left: 155px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: none;
  background: url('/assets/img/icons/search-icon.png') no-repeat center center;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.buttons  button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #7db122;
}

.buy {
  background: url('/assets/img/icons/buy-icon.png') no-repeat center center;
}

.ticket {
  background: url('/assets/img/icons/ticket-icon.png') no-repeat center center;
}

.buy:hover {
  cursor: pointer;
  background-color: #4f7906;
}

.ticket:hover {
  cursor: pointer;
  background-color: #4f7906;
}
