header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.hamburger {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    90.16deg,
    #ffffff 0.02%,
    rgba(59, 197, 217, 1) 51.57%,
    #ffffff 99.99%
  );
  z-index: 2000;
}

.navbar {
  padding: 15px 0 5px 0;
}

.logo a {
  display: block;
}

.navbar .list-item a {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.list-item a {
  display: flex;
  align-items: center;
}

.list-item a:hover {
  color: #714b24;
}

.list-item img {
  margin-right: 8px;
}

/// Media
@media (max-width: 1439px) {
  .navbar .list-item a {
    font-size: 18px;
  }

  .logo img {
    width: 80%;
  }
}

@media (max-width: 1279px) {
  header {
    position: relative;
  }

  .list-item a {
    display: block;
  }

  .logo {
    margin: 0 auto;
  }

  .logo img {
    display: block;
    margin: auto;
    width: auto;
    height: 40px;
  }

  .navbar-list {
    display: none;
    &-hamburger {
      background: linear-gradient(
        144.3deg,
        rgba(255, 255, 255, 1) 19.59%,
        rgba(54, 187, 206, 1) 101.76%
      );
      max-height: calc(100vh - 84.39px);
      overflow: auto;
      max-width: none;
      position: absolute;
      border-radius: 0 0 10px 10px;
      padding: 50px 0 50px 0;
      top: 100%;
      left: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    .list-item {
      margin-bottom: 14px;
    }
    button {
      margin-top: 10px;
    }
  }

  .hamburger-box {
    width: 30px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #36bbce;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #36bbce;
  }
  
  
  .list-item {
    margin: 0 0 10px 0;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    right: 0;
  }
}
