.section-download-book-and-photo-whith-us {
  background: #f7ffff;
  padding-bottom: 95px;
  &-header {
    width: 74%;
    margin: 0px 0 30px 110px;
    padding-top: 68px;
    font-size: 72px;
    line-height: 75px;
    text-transform: uppercase;
    color: #173c46;
  }
}

.block-download-book-content {
  display: flex;
  width: 68.875%;
  margin: 196px auto 0px;
}

.form-download-book {
  display: flex;
}

.form-download-book legend {
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-bottom: 47px;
  width: 100%;
}

.form-download-book input[type="text"],.form-download-book input[type="tel"] {
  width: 370px;
  background: #dadada;
  border-radius: 20px;
  padding: 20px 0 20px 43px;
  border: none;
  outline: none;
  color: #173c46;
  font-size: 24px;
  line-height: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
}

.form-download-book input[type="tel"]:nth-child(3) {
  margin-right: 0;
  width: 506px;
}

.form-download-book label {
  font-size: 16px;
  line-height: 24px;
  color: #7b7b7b;
  margin-left: 13px;
}

.form-download-book label > span {
  text-decoration: underline;
}

.block-for-checkbox {
  display: flex;
  margin-top: 20px;
}

.slider-photo {
  padding-top: 40px;
}

.section-small {
  display: none;
}

///Media
@media (max-width: 1599px) {
  .form-download-book input[type="text"], .form-download-book input[type="tel"]  {
    width: 507px;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 1439px) {
  .section-download-book-and-photo-whith-us-header {
    font-size: 54px;
  }
  
  .block-download-book-content {
    margin: 146px auto 0px;
  }

  .form-download-book legend {
    font-size: 30px;
    line-height: normal;
    width: 90%;
  }
}

@media (max-width: 1279px) {
  .section-download-book-and-photo-whith-us-header {
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
  }

  .block-download-book-content {
    margin-top: 86px;
  }
  
  .form-download-book-inputs legend {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .section-download-book-and-photo-whith-us-header {
    font-size: 42px;
    line-height: normal;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .block-download-book-content {
    margin-top: 60px;
  }

  .form-download-book {
    display: block;
    &-button {
      text-align: center;
      margin-top: 30px;
    }
  }
}


@media (max-width: 767px) {
  .form-download-book-inputs legend {
    margin: 0 auto 40px;
  }

  .block-download-book-content {
    width: 100%;
    margin-top: 40px;
  }

  .form-download-book {
    width: 100%;
    text-align: center;
  }

  .form-download-book input[type="text"], .form-download-book input[type="tel"]:nth-child(3) {
    width: 80%;
    margin: 0 auto 30px;
    display: block;
  }

  .slider-photo {
    display: none;
  }

  .section-small {
    display: block;
  }

  .section-small .slide img {
    margin: auto;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

}
