.section-contact-with-us {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-contact-with-us-header {
  width: 74%;
  margin: 0px 0px 0px 110px;
  padding-top: 18px;
  font-size: 72px;
  line-height: 75px;
  text-transform: uppercase;
  color: #173c46;
}

.section-contact-with-us-content {
  display: flex;
  width: 71.7%;
  margin: auto;
  padding: 83px 0px 93px 0px;
}

.form-contact-with-us input[type="text"] {
  width: 305px;
  background: #dadada;
  border-radius: 20px;
  padding: 20px 0 20px 43px;
  border: none;
  outline: none;
  color: #bdbdbd;
  font-size: 24px;
  line-height: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
}

.form-contact-with-us input[type="text"]:nth-child(2) {
  width: 420px;
}

.form-contact-with-us label {
  font-size: 16px;
  line-height: 24px;
  color: #7b7b7b;
  margin-left: 13px;
}

.form-contact-with-us label > span {
  text-decoration: underline;
}

.block-for-checkbox {
  display: flex;
  margin-top: 20px;
}
