.section-consult {
  background-color: #f7ffff;
}

.block-consult {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  font-size: 36px;
  line-height: normal;
  color: #000000;
  text-align: left;
}

@media (max-width: 1279px) {
  .block-consult {
    font-size: 18px;
    text-align: center;
  }
}
