.section-contact-with-us {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-contact-with-us-header {
  width: 74%;
  margin: 0px 0px 0px 110px;
  padding-top: 18px;
  font-size: 72px;
  line-height: 75px;
  text-transform: uppercase;
  color: #173c46;
}

.section-contact-with-us-content {
  display: flex;
  width: 71.7%;
  margin: auto;
  padding: 83px 0px 93px 0px;
}

.form-contact-with-us input[type="text"] {
  width: 305px;
  background: #dadada;
  border-radius: 20px;
  padding: 20px 0 20px 43px;
  border: none;
  outline: none;
  color: #bdbdbd;
  font-size: 24px;
  line-height: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}

.form-contact-with-us input[type="text"]:nth-child(2) {
  width: 420px;
}

.form-contact-with-us label {
  font-size: 16px;
  line-height: 24px;
  color: #7b7b7b;
  margin-left: 13px;
}

.form-contact-with-us label > span {
  text-decoration: underline;
}

.block-for-checkbox {
  display: flex;
  margin-top: 20px;
}

///Media

@media (max-width: 1599px) {
  .form-contact-with-us input[type="text"] {
    width: 420px;
    margin: 0 0 30px 0;
    display: block;
  }
}

@media (max-width: 1439px) {
  .section-contact-with-us-header {
    font-size: 54px;
  }
}

@media (max-width: 1279px) {
  .section-contact-with-us-header {
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .section-contact-with-us-header {
    font-size: 42px;
    line-height: normal;
    text-align: center;
  }

  .btn-contact-with-us {
    display: block;
    margin: auto;
  }

  .form-contact-with-us {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .block-for-checkbox {
    width: 420px;
    margin: 20px auto 0;
    &:last-child label {
      text-align: left;
    }
  }
}

@media (max-width: 767px) {
  .section-contact-with-us-content {
    width: 100%;
  }

  .form-contact-with-us input[type="text"],
  .form-contact-with-us input[type="text"]:nth-child(2) {
    width: 80%;
    margin: 0 auto 30px;
  }

  .section-contact-with-us-content {
    padding: 60px 0;
  }

  .block-for-checkbox {
    width: 240px;
  }
}

@media (max-width: 374px) {
  .btn-contact-with-us {
    width: 260px;
  }
}
