.navbar 
    background-color: #4cb1ca

.menu-lists 
    color: #fff

.select-language
    width: 70px
    background-color: #4cb1ca
    border: none
    outline: none
    color: #fff
    appearance: none
    background: url('../img/arrow.png') no-repeat 100% 50% #4cb1ca

.select-currency
    width: 70px
    background-color: #4cb1ca
    border: none
    outline: none
    color: #fff
    appearance: none
    background: url('../img/arrow.png') no-repeat 52% 50% #4cb1ca

.line 
    border: none
    border-right: 1px solid #fff
    height: 12px

.menu-lists label 
    margin-right: 4px
    opacity: 0.8

.search-field form 
  position: relative
  width: 180px
  margin: 0 auto

.search-field input 
  width: 175px
  height: 26px
  padding-left: 6px
  border: 1px solid #7BA7AB
  outline: none
  color: #c6c6c6
  
.search-field  form  button 
  position: absolute
  top: 6px
  left: 155px
  width: 15px
  height: 15px
  border: none
  background: url('../img/search-icon.png') no-repeat center center
  cursor: pointer

input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration 
	display: none

.buttons  button 
    border: none
    background-color: #7db122
    outline: none
    width: 38px
    height: 38px
    border-radius: 30px

.buy 
    background: url('../img/buy-icon.png') no-repeat center center

.ticket 
    background: url('../img/ticket-icon.png') no-repeat center center

.buy:hover 
    cursor: pointer
    background-color: #4f7906

.ticket:hover 
    cursor: pointer
    background-color: #4f7906