#checkbox-download-book {
  display: none;
}
#checkbox-download-book + label {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #7b7b7b;
  text-align: center;
}
#checkbox-download-book + label:before {
  font-size: 30px;
}
#checkbox-download-book:checked + label:before {
  content: "✔";
  color: #36bbce;
}

#checkbox-contact-with-us {
  display: none;
}
#checkbox-contact-with-us + label {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #7b7b7b;
  text-align: center;
}
#checkbox-contact-with-us + label:before {
  font-size: 30px;
}
#checkbox-contact-with-us:checked + label:before {
  content: "✔";
  color: #36bbce;
}

#checkbox-popup-feedback {
  display: none;
}
#checkbox-popup-feedback + label {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #5c5c5c;
  text-align: right;
  position: relative;
}
#checkbox-popup-feedback + label:before {
  font-size: 28px;
  position: absolute;
  left: 0;
  top: -14px;
}
#checkbox-popup-feedback:checked + label:before {
  content: "✔";
  color: #36bbce;
}

#checkbox-popup-callme {
  display: none;
}
#checkbox-popup-callme + label {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #5c5c5c;
  text-align: right;
  position: relative;
}
#checkbox-popup-callme + label:before {
  font-size: 28px;
  position: absolute;
  left: 0;
  top: -14px;
}
#checkbox-popup-callme:checked + label:before {
  content: "✔";
  color: #36bbce;
}
