* {
	box-sizing: border-box;
}

// html,
// body {}

html {
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

body {
	font-family: $font-main;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
}

// @media (max-width: 1200px) {}

// @media (max-width: 992px) {}

// @media (max-width: 767px) {}
